---
---
<nav class="flex w-screen sticky">
    <div class="w-[50%] h-12 py-5 px-8">
        <div class="w-[50%] h-12 rounded-full bg-white border border-1 border-[#D5D5D5]">
        </div>
    </div>
    <div class="w-[50%] py-5 px-8 flex gap-8">
        <div class="w-[75%] bg-white h-12 rounded-full border border-1 border-[#D5D5D5]"></div>
        <div class="w-[20%] bg-white h-12 rounded-full border border-1 border-[#D5D5D5]"></div>
    </div>

</nav>