---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="w-180 h-160 rounded-[20px] bg-[#FCFCFC]">
<div class="w-full h-12 bg-[#C9DEFF] border-3 border-white border-b-0 rounded-t-[20px]">
	</div>
	<div class="p-12 text-lg text-[#4F4F4F] font-light w-full h-128">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est labor|</p>
	</div>
</div>